<section class="orders-show">
  <header class="page-header">
    <h1>Order: <%= @order.id %></h1>
    <h1>Email: <%= @order.email %></h1>
      <% @order.line_items.each do |line_item| %>
        <img style="width: 50px; height: 50px;" src="<%= line_item.product.image %>">
        <p><%=line_item.product.name %></p>
        <p><%=line_item.product.description %></p>
        <p><%= line_item.quantity %></p>
        <p><%= line_item.product.price_cents %></p>
      <% end %>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
